<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Oven Ready</title>


<style>
    h1,h2,
    h3 {
      text-align: center;
    }
    
    
    .video-container {
        /*background-color: #666;*/
        max-width: 800px;
        text-align: center;
    }
    
    .image-container {
        max-width: 800px;
        /*background-color: #666;*/
        text-align: center;
    }
    
    .video-image {
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
        background-color: #666;
        display: inline-block;
    }
    
    .static-image {
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
        background-color: #666;
        display: inline-block;
    }
    </style>



</head>

<body style="max-width: 800px; margin: 0 auto;">

    <div class="w3-panel w3-red"> 
        <h1> Oven On or Off?</h1>
        <h1 id="ovenOffOrOn"> undefined</h1>
    </div>


<!-- <audio id="onvenOffAudio">
    <source src="static/oven_off.mp3" type="audio/mpeg">
</audio>

<audio id="onvenOnAudio">
    <source src="static/oven_on.mp3" type="audio/mpeg">
</audio> -->



<div class="video-container w3-panel w3-blue">
	<video class="video-image" autoplay="true" id="videoElement"></video>
</div>




<div class="image-container w3-panel w3-purple">
    <img class="static-image" id="snapImage" src="">
     <canvas style="display:none;"></canvas> 
</div>


<!-- <button id="snapButton" onclick="snap_image()">Take Picture</button> -->


<script>
  var video = document.querySelector("#videoElement");

  var videoConfig = {
    audio: false,
    video: {
      facingMode:  "environment",
      width: {
        min: 160,
        ideal: 256,
        max: 640
      },
      height: {
        min: 240,
        ideal: 256,
        max: 480
      }

    }
  };


  if (navigator.mediaDevices.getUserMedia) {
    // navigator.mediaDevices.getUserMedia({video: {facingMode: {exact: "environment"}}})
    navigator.mediaDevices.getUserMedia(videoConfig)
      .then(function (stream) {
        video.srcObject = stream;
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
  }

  function stop(e) {
  var stream = video.srcObject;
  var tracks = stream.getTracks();

  for (var i = 0; i < tracks.length; i++) {
    var track = tracks[i];
    track.stop();
  }

  video.srcObject = null;
}

// const captureVideoButton =
//   document.querySelector('#snapButton');
const screenshotButton = document.querySelector('#snapButton');
const img = document.querySelector('#snapImage');
// const video1 = document.querySelector('#screenshot video');

const canvas = document.createElement('canvas');

// captureVideoButton.onclick = function() {
//   navigator.mediaDevices.getUserMedia(constraints).
//     then(handleSuccess).catch(handleError);
// };

// screenshotButton.onclick = video.onclick = function() {
video.onclick = function() {
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0);
    // Other browsers will fall back to image/png
    //   img.src = canvas.toDataURL('image/webp');
    var imgURL = canvas.toDataURL();
    img.src = imgURL

    console.log( "video.videoWidth", video.videoWidth)
    console.log( "video.videoHeight", video.videoHeight)

    // console.log(imgURL);

    // postAjax("http://127.0.0.1:5000/takepic", {"data": imgURL}, transferWorked)
    sendBase64ToServer("", imgURL);

    
};


var sendBase64ToServer = function(name, base64){
    var httpPost = new XMLHttpRequest();
    var path = "takepic";
    // var path = "http://127.0.0.1:5000/takepic";
    var data = JSON.stringify({image: base64});

    // listen for and deal with returned data from server
    httpPost.onreadystatechange = function(err) {
        if (httpPost.readyState == 4 && httpPost.status == 200){
            var returned_data = JSON.parse(httpPost.response);
            document.getElementById("ovenOffOrOn").innerHTML = returned_data.prediction;
            if (returned_data.prediction == "on"){
                console.log("audio on message.")
                speak("I think the oven is on")
                // document.getElementById('onvenOnAudio').play()
            } else if (returned_data.prediction == "off"){
                console.log("audio off message")
                speak("I think the oven is off.")
                // document.getElementById('onvenOffAudio').play()
            } else {
                speak("I can't tell, try again.")
            }
            
            console.log(httpPost.response);
            console.log(returned_data.prediction)
        } else {
            console.log(err);
        }
    };

    // Open Post request
    httpPost.open("POST", path, true);

    // Set the content type of the request to json since that's what's being sent
    httpPost.setRequestHeader('Content-Type', 'application/json');
    
    // Send data to server
    httpPost.send(data);
};


function speak(txt){
        if ('speechSynthesis' in window) {
            console.log("speech synthesis works");
            var text = txt;
            var msg = new SpeechSynthesisUtterance();
    //   var voices = window.speechSynthesis.getVoices();
    //   msg.voice = voices[$('#voices').val()];
    //   msg.rate = $('#rate').val() / 10;
    //   msg.pitch = $('#pitch').val();
            msg.text = text;

            msg.onend = function(e) {
                console.log("Message Ended");
            };

            speechSynthesis.speak(msg);
            
        } else {
            console.log("speech synthesis does not work");
        }
    }

function transferWorked(rtn){
    console.log("transfer worked");
};
//Function called on pressing a html button
// function takePic() {

// ctx.drawImage(video, 0, 0, canvas.width, canvas.height);//video is the video element in html which is recieving live data from webcam

// var imgURL = canvas.toDataURL();
// console.log(imgURL);
// $.ajax({
//   type: "POST",
//   url: "http://127.0.0.1:5000/takepic", //I have doubt about this url, not sure if something specific must come before "/take_pic"
//   data: imgURL,
//   success: function(data) {
//     if (data.success) {
//       alert('Your file was successfully uploaded!');
//     } else {
//       alert('There was an error uploading your file!');
//     }
//   },
//   error: function(data) {
//     alert('There was an error uploading your file!');
//   }
// }).done(function() {
//   console.log("Sent");
// });

// }
</script>
</body>
</html>