<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="../static/figs/liz.jpg">
    <img src="../static/figs/liz.jpg" alt="liz" width="600" height="400">
  </a>
  <div class="desc">Liz</div>
</div>

<div class="gallery">
  <a target="_blank" href="../static/figs/tom.jpg">
    <img src="../static/figs/tom.jpg" alt="tom" width="600" height="400">
  </a>
  <div class="desc">Tom</div>
</div>

<div class="gallery">
  <a target="_blank" href="../static/figs/eric.jpg">
    <img src="../static/figs/eric.jpg" alt="eric" width="600" height="400">
  </a>
  <div class="desc">Eric</div>
</div>

<div class="gallery">
<a target="_blank" href="../static/figs/liz.jpg">
    <img src="../static/figs/liz.jpg" alt="liz" width="600" height="400">
</a>
<div class="desc">Liz</div>
</div>
      
<div class="gallery">
<a target="_blank" href="../static/figs/tom.jpg">
    <img src="../static/figs/tom.jpg" alt="tom" width="600" height="400">
</a>
<div class="desc">Tom</div>
</div>

<div class="gallery">
<a target="_blank" href="../static/figs/eric.jpg">
    <img src="../static/figs/eric.jpg" alt="eric" width="600" height="400">
</a>
<div class="desc">Eric</div>
</div>

<div class="gallery">
<a target="_blank" href="../static/figs/liz.jpg">
    <img src="../static/figs/liz.jpg" alt="liz" width="600" height="400">
</a>
<div class="desc">Liz</div>
</div>

<div class="gallery">
<a target="_blank" href="../static/figs/tom.jpg">
    <img src="../static/figs/tom.jpg" alt="tom" width="600" height="400">
</a>
<div class="desc">Tom</div>
</div>

<div class="gallery">
<a target="_blank" href="../static/figs/eric.jpg">
    <img src="../static/figs/eric.jpg" alt="eric" width="600" height="400">
</a>
<div class="desc">Eric</div>
</div>

</body>
</html>